body {
    margin: 0;
    font-family: 'montserrat';
}

div, body {
    box-sizing: border-box;
}

body,div,ul,li,a,h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

.cards {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.cards-title {
    margin-top: 20px;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    margin-top: 40px;
    gap: 20px;
    padding: 12px;
    min-height: 80dvh;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px #0009;
    border-radius: 12px;
    padding: 12px;
    gap: 12px;
}

.card-content p {
    min-height: 100%;
}

.card-profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

img {
    border-radius: 50%;
    height: 80px;
}